:root {
  --main-bg-color: #101120;
  --secondary-bg-color: #16192e;
  --text-color: #d5d5d5;
  --text-glow-color: #7cafda;
}

html {
  body {
    animation: fadeIn 2s;
    background: var(--main-bg-color);
    margin: 0;
  }
  header {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: var(--text-color);
    background: #16192e;
    border-bottom: 2px solid #23284a;
  }
  header h1 {
    text-shadow: var(--text-glow-color) 0 0 5px;
    margin: 15px 20px;
    text-align: center;
    color: var(--text-color);
    float: right;
  }
  main {
    padding-top: 100px;
  }
  footer {
    text-align: center;
    padding-bottom: 40px;
    color: var(--text-color);
    background: var(--main-bg-color) radial-gradient(circle at bottom, rgba(75, 75, 165, 0.32) 5%, var(--main-bg-color) 30%) ;
    overflow: hidden;
  }
  footer h1 {
    font-size: 50px;
    margin: 0;
    padding: 20px;
    text-align: center;
    color: var(--text-color);
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

/* Navigation bar */

.navbar {
  background: var(--secondary-bg-color);
  overflow: hidden;
}

.navbar a {
  float: left;
  font-size: 25px;
  padding: 20px 20px;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.navbar a:hover {
  text-shadow: var(--text-glow-color) 0 0 15px;
  transform: scale(1.05);
}

/* Overview card */

.main-card {
  animation: fadeIn 2s;
  font-size: 30px;
  color: var(--text-color);
  text-align: center;
  display: flex;
  /*height: auto;*/
  justify-content: space-evenly;
  margin: 0 5em 0;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.19) 5px 5px 10px;
  border-radius: 28px;
  background: var(--secondary-bg-color) linear-gradient(to right bottom, rgba(75, 75, 165, 0.32), #0f1120);
  align-items: center;
}

.skill-icon {
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  margin: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.skill-icon:hover {
  transform: scale(1.1);
}

.portrait {
  border-radius: 50%;
  width: 100%;
  margin: 1em;
  transition: 0.2s ease;
}

.main-card h2 {
  color: white;
  text-shadow: var(--text-glow-color) 0 0 5px;
}

.skill-list {
  border: #3e487e solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 28px;
  padding: 20px;
  background: #1e203c;
  transition: 0.2s ease-in-out;
}

.skill-list:hover {
  box-shadow: var(--text-glow-color) 0 0 5px;
}


.portrait-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}




/* Portfolio */

.portfolio-title {
  text-align: center;
  color: var(--text-color);
  margin: 100px;
}

.portfolio-card {
  font-size: 30px;
  background: var(--main-bg-color) linear-gradient(to bottom right, #0f1120, rgba(75, 75, 165, 0.32));
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  margin: 3em 0 3em;
  box-shadow: rgba(0, 0, 0, 0.19) 5px 5px 10px;
}

.portfolio-card button {
  cursor: pointer;
  border: none;
  padding: 10px 40px;
  border-radius: 14px;
  margin-top: 20px;
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  background: #2a2a59;
  transition: 0.2s ease-in-out;
}

.portfolio-card button:hover {
  box-shadow: var(--text-glow-color) 0 0 5px;
  background: #7cafda;
  color: black;
  scale: 1.1 1.1;
}

.portfolio-card h2 {
  margin: 0;
  color: white;
  text-shadow: var(--text-glow-color) 0 0 5px;
  padding-top: 30px;
}

.portfolio-card section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.portfolio-card img {
  display: flex;
  justify-self: center;
  padding: 20px;
  border-radius: 28px;
  width: 90%;
  align-self: center;
}

/* Social links */
.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 38px;
}

.social-links a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}

.social-links a:hover {
  text-shadow: var(--text-glow-color) 0 0 15px;
  transform: scale(1.05);
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg-color);
  border-radius: 28px;
  border-left: 2px solid #23284a;
}

::-webkit-scrollbar-thumb {
  background: #b3bbe4;
  border-radius: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9494b8;
}

/* For smaller screens */

@media screen and (max-width: 1024px) {

  .header {
    flex-direction: column;
  }

  .skill-icon {
    width: 100%;
    margin: 10px;
  }

  .main-card {
    flex-direction: column-reverse;
    margin: 0;
    border-radius: 0;
  }
  .portrait {
    margin: 0;
  }

  .portfolio-card{
    flex-direction: column;
  }

  .social-links {
    font-size: 30px;
  }
}


/* fixing navbar */

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  header {
    justify-content: center;
  }
}
